<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <!-- meta responsive -->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <title>Tư Vấn Du Học Đại Hải</title>
    <meta name="description" content="Dai Hai Education" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;amp;lang=en" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,500,700" rel="stylesheet" type="text/css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css" rel="stylesheet">

    <link href="/libs/icomoon/fonts.css" rel="stylesheet">

    <link href="/styles/main.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/scripts/main.js"></script>
</head>

<body id="top">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <a href="/contact" id="contact-button" class="mdl-button mdl-button--fab mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast mdl-shadow--4dp">
            <i class="material-icons">mail</i>
        </a>
        
        <!-- define menu -->
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout__title">TƯ VẤN DU HỌC ĐẠI HẢI</span>
                <div class="msl-layout-spacer">
                    <nav class="mdl-navigation mdl-layout--large-screen-only">
                        <a class="mdl-navigation__link" href="/">TRANG CHỦ</a>
                        <a class="mdl-navigation__link" href="/portfolio">PHỤ HUYNH</a>
                        <a class="mdl-navigation__link" href="/portfolio">GIA SƯ</a>
                        <a class="mdl-navigation__link" href="/portfolio">LỚP MỚI</a>
                        <a class="mdl-navigation__link" href="/about">TUYỂN DỤNG</a>
                        <a class="mdl-navigation__link" href="/contact">LIÊN HỆ</a>
                    </nav>
                </div>
                <div class="msl-layout-spacer">
                    <nav class="mdl-navigation mdl-layout--large-screen-only">
                        <a class="mdl-navigation__link" href="#"><i class="material-icons">search</i></a>
                        <a class="mdl-navigation__link" href="#"><i class="material-icons">notifications_active</i></a>
                        <a class="mdl-navigation__link" href="#"><i class="material-icons">call</i></a>
                        <a class="mdl-navigation__link" href="#"><i class="material-icons">person</i></a>
                    </nav>
                </div>
            </div>
        </header>
        <!-- define menu drawer-->
        <div class="mdl-layout__drawer">
            <span class="mdl-layout__title">TƯ VẤN DU HỌC</span>
            <span class="mdl-layout__title">ĐẠI HẢI</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="/">TRANG CHỦ</a>
                <a class="mdl-navigation__link" href="/portfolio">PHỤ HUYNH</a>
                <a class="mdl-navigation__link" href="/portfolio">GIA SƯ</a>
                <a class="mdl-navigation__link" href="/portfolio">LỚP MỚI</a>
                <a class="mdl-navigation__link" href="/about">TUYỂN DỤNG</a>
                <a class="mdl-navigation__link" href="/contact">LIÊN HỆ</a>
            </nav>
        </div>

        <main class="mdl-layout__content">
            <!-- define content -->
            <%- body%>
            
            <!-- define footer -->
            <footer class="mdl-mini-footer">
                <div class="footer-container">
                    <div class="mdl-logo">&copy; Website Developer: <a href="https://templateflip.com/" target="_blank">Thang Pham - TMA Solutions</a></div>
                    <ul class="mdl-mini-footer__link-list">
                        <li><a href="/help">Help</a></li>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </footer>
        </main>
        <script src="https://code.getmdl.io/1.3.0/material.min.js" defer></script>
    </div>
</body>

</html>