<%- contentFor('body') %>
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="slider">
                <ul class="slides">
                    <li>
                        <img src="http://lorempixel.com/580/250/nature/1">
                        <!-- random image -->
                        <div class="caption center-align">
                            <h3>This is our big Tagline!</h3>
                            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                        </div>
                    </li>
                    <li>
                        <img src="http://lorempixel.com/580/250/nature/2">
                        <!-- random image -->
                        <div class="caption left-align">
                            <h3>Left Aligned Caption</h3>
                            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                        </div>
                    </li>
                    <li>
                        <img src="http://lorempixel.com/580/250/nature/3">
                        <!-- random image -->
                        <div class="caption right-align">
                            <h3>Right Aligned Caption</h3>
                            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                        </div>
                    </li>
                    <li>
                        <img src="http://lorempixel.com/580/250/nature/4">
                        <!-- random image -->
                        <div class="caption center-align">
                            <h3>This is our big Tagline!</h3>
                            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <section>
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="card hoverable grey lighten-5 card-introdution-us">
                    <div class="card-content">
                        <span class="card-title red-text text-darken-3 card-introduction-title">HỌC PHÍ GIA SƯ THAM KHẢO CHO PHỤ HUYNH VÀ HỌC VIÊN</span>
                        <p class="mdl-card-supporting-text">
                            Cam kết gia sư có bằng cấp đầy đủ, dạy đảm bảo chất lượng, uy tín và tận tâm.
                        </p>
                        <p class="mdl-card-supporting-text">
                            Trung tâm cho học thử 1 buổi MIỄN PHÍ để quý phụ huynh và các em học sinh đánh giá được chất lượng của gia sư.
                        </p>
                        <p class="mdl-card-supporting-text">
                            <h6>Chúng tôi luôn đồng hành cùng con bạn thành công!</h6>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="row" id="home-page-content">
        <div class="col s12 m2 l2">
            <ul class="collection with-header">
                <li class="collection-header center-align purple darken-3 white-text">
                    <h6>PHỤ HUYNH</h6>
                </li>
                <li class="collection-item">
                    <div><i class="material-icons purple-text text-lighten-3">check_circle</i> Lưu ý khi chọn gia sư cho con em</div>
                </li>
                <li class="collection-item">
                    <div><i class="material-icons purple-text text-lighten-3">check_circle</i> Tầm quan trọng của việc chọn đúng gia sư</div>
                </li>
                <li class="collection-item">
                    <div><i class="material-icons purple-text text-lighten-3">check_circle</i> Những điều phụ huynh nên biết khi thuê gia sư</div>
                </li>
                <li class="collection-item">
                    <div><i class="material-icons purple-text text-lighten-3">check_circle</i> Bồi dưỡng kiến thức cho con em</div>
                </li>
                <li class="collection-item">
                    <div><i class="material-icons purple-text text-lighten-3">check_circle</i> Dạy kèm tại nhà</div>
                </li>
            </ul>
            <ul class="collection with-header" id="home-page-content-support">
                <li class="collection-header center-align indigo darken-3 white-text">
                    <h6>THÔNG TIN HỖ TRỢ</h6>
                </li>
                <li class="collection-item avatar">
                    <i class="material-icons circle red-text indigo lighten-3">phone</i>
                    <span class="title home-support-title">0123456789</span>
                    <p class="home-support-title">(Thang Pham)</p>
                </li>
                <li class="collection-item avatar">
                    <i class="material-icons circle red-text indigo lighten-3">phone</i>
                    <span class="title home-support-title">0123456789</span>
                    <p class="home-support-title">(Thang Pham)</p>
                </li>
                <li class="collection-item avatar">
                    <i class="material-icons circle red-text indigo lighten-3">phone</i>
                    <span class="title home-support-title">0123456789</span>
                    <p class="home-support-title">(Thang Pham)</p>
                </li>
            </ul>
        </div>
        <div class="col s12 m8 l8">
            <ul class="collection with-header">
                <li class="collection-header center-align light-blue darken-3 white-text">
                    <h6>BẢNG GIÁ GIA SƯ</h6>
                </li>   
            </ul>

            <!-- tuition price -->
            <table class="table striped teal-text text-darken-4 tuition-price-table-1">
                <thead>
                    <tr>
                        <th rowspan="2" class="center-align">KHỐI LỚP</th>
                        <th colspan="2" class="center-align">2 BUỔI / TUẦN</th>
                        <th colspan="2" class="center-align">3 BUỔI / TUẦN</th>
                    </tr>
                     <tr>
                        <th class="center-align">SINH VIÊN</th>
                        <th class="center-align">GIÁO VIÊN</th>
                        <th class="center-align">SINH VIÊN</th>
                        <th class="center-align">GIÁO VIÊN</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Lớp 1, 2, 3, 4</td>
                        <td class="center-align">600 -> 700</td>
                        <td class="center-align">1000 -> 1200</td>
                        <td class="center-align">800 -> 1000</td>
                        <td class="center-align">1400 -> 1800</td>
                    </tr>
                    <tr>
                        <td>Lớp 5, 6, 7, 8</td>
                        <td class="center-align">700 -> 800</td>
                        <td class="center-align">1200 -> 1400</td>
                        <td class="center-align">900 -> 1000</td>
                        <td class="center-align">1600 -> 2000</td>
                    </tr>
                    <tr>
                        <td>Lớp 9, 10, 11, 12</td>
                        <td class="center-align">800 -> 1000</td>
                        <td class="center-align">1400 -> 1600</td>
                        <td class="center-align">1100 -> 1400</td>
                        <td class="center-align">1800 -> 2400</td>
                    </tr>
                    <tr>
                        <td>LTĐH, Ngoại Ngữ</td>
                        <td class="center-align">900 -> 1100</td>
                        <td class="center-align">1500 -> 1700</td>
                        <td class="center-align">1300 -> 1500</td>
                        <td class="center-align">2200 -> 2500</td>
                    </tr>
                </tbody>
            </table>
            <br>
            <table class="table striped deep-orange-text text-darken-4 tuition-price-table-2">
                <thead>
                    <tr>
                        <th rowspan="2" class="center-align">KHỐI LỚP</th>
                        <th colspan="2" class="center-align">4 BUỔI / TUẦN</th>
                        <th colspan="2" class="center-align">5 BUỔI / TUẦN</th>
                    </tr>
                     <tr>
                        <th class="center-align">SINH VIÊN</th>
                        <th class="center-align">GIÁO VIÊN</th>
                        <th class="center-align">SINH VIÊN</th>
                        <th class="center-align">GIÁO VIÊN</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Lớp 1, 2, 3, 4</td>
                        <td class="center-align">1100 -> 1200</td>
                        <td class="center-align">1800 -> 2000</td>
                        <td class="center-align">1400 -> 1600</td>
                        <td class="center-align">2200 -> 2800</td>
                    </tr>
                    <tr>
                        <td>Lớp 5, 6, 7, 8</td>
                        <td class="center-align">1200 -> 1300</td>
                        <td class="center-align">2100 -> 2700</td>
                        <td class="center-align">1400 -> 1600</td>
                        <td class="center-align">2500 -> 3000</td>
                    </tr>
                    <tr>
                        <td>Lớp 9, 10, 11, 12</td>
                        <td class="center-align">1300 -> 1700</td>
                        <td class="center-align">2200 -> 2900</td>
                        <td class="center-align">1700 -> 2000</td>
                        <td class="center-align">3100 -> 3700</td>
                    </tr>
                    <tr>
                        <td>LTĐH, Ngoại Ngữ</td>
                        <td class="center-align">1600 -> 1800</td>
                        <td class="center-align">2600 -> 3100</td>
                        <td class="center-align">2000 -> 2300</td>
                        <td class="center-align">3200 -> 4000</td>
                    </tr>
                </tbody>
            </table>
            
            <div class="card hoverable grey lighten-5 card-tuition-price">
                <div class="card-content">
                    <span class="card-title red-text text-darken-3 card-tuition-price-title">LƯU Ý:</span>
                    <p class="card-tuition-price-text">
                        Thời gian dạy của Sinh Viên một buổi là 120 phút (2 tiếng).
                    </p>
                    <p class="card-tuition-price-text">
                        Thời gian dạy của Giáo Viên một buổi là 90 phút (1h 30p).
                    </p>
                    <p class="card-tuition-price-text">
                        Học phí trên áp dụng cho sinh viên và giáo viên có bằng cử nhân của các trường đại học khác hoặc giáo viên có bằng đại học sư phạm. 
                    </p>
                    <p class="card-tuition-price-text">
                        Đối với thạc sỹ, giáo viên thâm niên, giáo viên dạy tại trường có kinh nghiệm dạy kèm mức học phí được tính theo tiết (1 tiết = 45 phút):
                    </p>
                    <br>
                    <p>
                        <i class="fa fa-circle material-icons pink-text text-darken-4"></i><span class="green-text text-darken-4"> Cấp 1: 60.000 đ - 80.000 đ / 1 tiết (45 phút) = 120.000 đ - 160.000 đ / 1 buổi.</span>
                    </p>
                    <p>
                        <i class="fa fa-circle material-icons pink-text text-darken-4"></i><span class="green-text text-darken-4"> Cấp 2: 80.000 đ - 100.000 đ/ 1 tiết (45 phút) = 160.000 đ - 200.000 đ / 1 buổi.</span>
                    </p>
                    <p>
                        <i class="fa fa-circle material-icons pink-text text-darken-4"></i><span class="green-text text-darken-4"> Cấp 3: 100.000 đ- 120.000 đ / 1 tiết (45 phút) = 200.000 đ - 240.000 đ / 1 buổi.</span>
                    </p>
                    <br>
                    <p>
                        Mức học phí trên là tham khảo, mức học phí sẽ tăng hoặc giảm theo yêu cầu : 
                        số môn học, số người học, địa điểm học và các yêu cầu thêm khác, 
                        để biết chính xác mức học phí và được tư vấn miễn phí tìm gia sư giỏi, 
                        chất lượng  quý phụ huynh và học viên vui lòng liên hệ:
                        <span class="red-text text-darken-3"> 0123456789 (Thang Pham)</span>.
                    </p>
                    
                </div>
            </div>
        </div>
        <div class="col s12 m2 l2">
            <ul class="collection with-header">
                <li class="collection-header center-align orange darken-3 white-text">
                    <h6>GIA SƯ CÁC MÔN</h6>
                </li>
                <li class="collection-item">
                    <div><i class="material-icons orange-text text-lighten-3">info</i> Gia sư môn Toán</div>
                </li>
                <li class="collection-item">
                    <div><i class="material-icons orange-text text-lighten-3">info</i> Gia sư môn Lý</div>
                </li>
                <li class="collection-item">
                    <div><i class="material-icons orange-text text-lighten-3">info</i> Gia sư môn Hóa</div>
                </li>
                <li class="collection-item">
                    <div><i class="material-icons orange-text text-lighten-3">info</i> Gia sư môn Sinh</div>
                </li>
                <li class="collection-item">
                    <div><i class="material-icons orange-text text-lighten-3">info</i> Gia sư môn Anh</div>
                </li>
                <li class="collection-item">
                    <div><i class="material-icons orange-text text-lighten-3">info</i> Gia sư môn Văn</div>
                </li>
            </ul>

            <ul class="collection with-header">
                <li class="collection-header center-align green darken-3 white-text">
                    <h6>TIN TỨC NỔI BẬT</h6>
                </li>
                <li class="collection-item">
                    <div><i class="material-icons orange-text text-lighten-3">info</i> Giáo viên muốn môn Toán 'học gì thi nấy, không đánh đố'</div>
                </li>
                <li class="collection-item">
                    <div><i class="material-icons orange-text text-lighten-3">info</i> Nữ sinh Việt đạt điểm tuyệt đối kỳ thi chuẩn hóa SAT</div>
                </li>
                <li class="collection-item">
                    <div><i class="material-icons orange-text text-lighten-3">info</i> Nữ sinh được 8 trường danh tiếng mời nhập học</div>
                </li>
                <li class="collection-item">
                    <div><i class="material-icons orange-text text-lighten-3">info</i> Nam sinh trường Luật đạt điểm TOEIC tuyệt đối</div>
                </li>
                <li class="collection-item">
                    <div><i class="material-icons orange-text text-lighten-3">info</i> Sử dụng chung hệ thống phần mềm quản lý thi THPT quốc gia</div>
                </li>
            </ul>
        </div>
    </div>