/********************************** menu **********************************/
nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 20px;
    letter-spacing: .02em;
    font-weight: 400;
    box-sizing: border-box;
    white-space: nowrap;
    padding: 0px 10px 0px;
}

#dropdown-parents, #dropdown-lecturers, #dropdown-adminitrator {
    width: 240px !important;
}

/********************************** home page **********************************/
.card-introdution-title {
    color: rgba(0,0,0,.54) !important;
    font-size: 1rem;
    line-height: 18px;
    overflow: hidden;
    padding: 16px;
    width: 90%;
}

.mdl-card-supporting-text-recruits {
    font-size: 16px;
    line-height: 30px;
}

#home-page-content .collection.with-header .collection-item {
    padding-left: 10px !important;
}

#home-page-content-support .collection-item .home-support-title{
    padding-left: 60px !important;
}

/********************************** parents **********************************/
/*lecture*/
.lect-green-border-item {
    border: 1px solid #93bd4f;
}

.lect-green-border-item > .lect-info {
    display: flex;
    vertical-align: middle;
    align-items: center;
}

.lect-image {
    width: 80px; 
    height: 80px; 
    border-radius: 50%; 
    border: 1px solid #93bd4f; 
    margin: 5px 0 0 -5px;
}

.lect-id{
    color: #ed1c24;
}

.lect-info {
    color: #397704;
}

.detail-class-table tbody tr td {
    padding: 3px 0px;
}

/********************************** new class **********************************/
.bg-item-new-class {
    background-image: url('../images/background1.jpg') no-repeat cover center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #ffffff;
}

.green-boder-item {
    border: 1px solid #93bd4f;
}

/********************************** tuition page **********************************/
.tuition-price-table-1 thead th, .tuition-price-table-1 tbody tr td {
    border: 1px #004d40 solid;
    padding: 10px 5px;
}

.tuition-price-table-2 thead th, .tuition-price-table-2 tbody tr td {
    border: 1px #bf360c solid;
    padding: 10px 5px;
}

/********************************** footer **********************************/
.page-footer {
    background-color: #3949ab !important;
}