/********************************** menu **********************************/
nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 20px;
    letter-spacing: .02em;
    font-weight: 400;
    box-sizing: border-box;
    white-space: nowrap;
    padding: 0px 10px 0px;
}

#dropdown-parents, #dropdown-lecturers, #dropdown-adminitrator {
    width: 240px !important;
}

/********************************** home page **********************************/
.card-introdution-title {
    color: rgba(0,0,0,.54) !important;
    font-size: 1rem;
    line-height: 18px;
    overflow: hidden;
    padding: 16px;
    width: 90%;
}

#home-page-content .collection.with-header .collection-item {
    padding-left: 10px !important;
}

#home-page-content-support .collection-item .home-support-title{
    padding-left: 60px !important;
}

/********************************** tuition page **********************************/
.tuition-price-table thead th, .tuition-price-table tbody tr td{
    border: 1px #2e7d32 solid;
}