/********************************** menu **********************************/
nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 20px;
    letter-spacing: .02em;
    font-weight: 400;
    box-sizing: border-box;
    white-space: nowrap;
}

#dropdown-parents, #dropdown-lecturers, #dropdown-adminitrator {
    width: 275px !important;
}

/********************************** content web **********************************/
.site-content {
    margin: 1em auto;
    min-height: 580px;
}